.Bordada3 {
    height: 100%; 
    width: 100%;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    margin-left: 24%;
}

.form-group-ask {
    width: 70%;
}

.form-group-ask-options {
    width: 100%;
}

.container3 {
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: AUTO;
    margin: 30px auto;
    font-family: 'Outfit';
    margin-top: 5%;
    margin-left: 292px;
}

.options-row {
    display: flex; 
    justify-content: space-between; 
}

.options-column {
    width: 70%; 
}

textarea {
    width: 90%;
    resize: none;
}

@media(max-width: 768px) {
    .container3 {
        margin-left: 0;
        width: 100%;
        padding: 0;
        margin-top: 20%;
    }
    .Bordada3 {
        margin-left: 0;
    }
    .options-column {
        width: 40%;
    }
    .form-group-ask-options {
        width: 100%;
    }
}

.form-row3 {
    display: flex;
    justify-content: space-between;
    gap: 10%; 
    margin: 5%;
    margin-top: 0%;
}

.form-column3 {
    flex: 1;
    margin-right: 7%;
}

#sobrepesq {     
    width: 97%;    
    height: 100px;    
    padding: 10px; 
    margin-left: 4%; 
    border-radius: 5px; 
}

#textperg {
    width: 97%;    
    height: 100px;    
    padding: 10px; 
    margin-left: 4%; 
    border-radius: 5px; 
}


.btn-submit2 {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #459EB5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit2:hover {
    background-color: #096E5F;
}
