html {
    height: 100%; 
    margin: 0; 
    overflow: auto;
}

body {
    margin: 0;
}

.login-body {
    background-color: #459EB5;
    border: 15px solid white; 
    border-radius: 25px;
    height: 100vh; 
    margin: 0;
    overflow: auto;
    box-sizing: border-box;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    margin-left: 292px; 
    padding: 20px;
    flex-grow: 1; 
    box-sizing: border-box;
    overflow: auto; 
}

.userTable {
    width: 100%; 
    max-width: 1250px;
    border-collapse: collapse;
    overflow-x: auto;
    border: 1px solid #ccc;
    word-wrap: break-word; 
    font-family: 'Outfit';
    table-layout: fixed; 
}

.userTable {
    width: 100%; 
    max-width: 1250px;
    border-collapse: collapse;
    overflow-x: auto;
    border: 1px solid #ccc;
    word-wrap: break-word; 
    font-family: 'Outfit';
}

.userTable th,
.userTable td {
    border: 1px solid #ccc; 
    padding: 10px;
    text-align: center; 
    word-break: break-word; 
}

.userTable th {
    text-align: center; 
    padding: 10px; 
    background-color: #333; 
    color: white; 
}

@media (max-width: 768px) {
    .userTable {
        display: block;
        width: 100%; 
        overflow-x: auto; 
        border: none;
        margin: 0 auto; 
        margin-left: 3%;
    }

    .userTable thead {
        display: none; 
    }

    .userTable tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        width: 95%; 
    }

    .userTable td {
        display: block;
        text-align: left;
        padding-left: 50%; 
        position: relative;
        border: 1px solid #ccc;
        box-sizing: border-box;
        width: 100%; 
    }

    .userTable td::before {
        content: attr(data-label); 
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
        height: auto;
    }
    tbody{
        width: 100%;
    }
}


@media (max-width: 500px) {
    .userTable {
        margin-left: 3%;
        width: 100%;
    }
    .userTable td {
        padding-left: 40%;
        width: 100%;
    }
    .userTable tr {
        width: 95%; 
    }
    .userTable td::before {
        left: 5px;
        height: auto;
    }
}

.form-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    margin-left: 292px; 
  }
  .form-container10 {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  .pergunta {
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  


.AutoCenter {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: absolute;
}

.form-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pergunta {
    width: 100%;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    resize: vertical;
}

.buttonSubmitPerg {
    background-color: #459EB5;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    border-radius: 5px;
}

.buttonSubmitPerg:hover {
    background-color: #459EB5;
}

/* Ajustes para telas menores */
@media (max-width: 1195px) and (min-width: 768px) {
    .form-container {

        margin-left: 292px; 
    }
    .form-container10 {
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
        margin-left: 0; 
      }

    h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .pergunta h3 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    button {
        
        font-size: 1em;
    }

    textarea {
        font-size: 1em;
    }
}
@media (max-width: 768px){
    .form-container {
        width: 100%;
        margin-left: 0;
    }
    .modal-content {
        background: white;
        padding: 20px;
        border-radius: 5px;
        margin-left: 0px;
        width: 50%;
      }
}



.caixatexto {
    margin-bottom: 15px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.caixatexto input {
    width: 220px;
    height: 30px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 13.5px;
    box-sizing: border-box;
}

.deleteButton {
    margin-left: 34.%;
    padding: 5px 18px;
    font-size: 16px;
    color: #fff;
    background-color: #b70000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteButton:hover {
    background-color: #4b0000;
}


@media(max-width:1060px){
    .deleteButton{
        margin-left: 0%;
    }
}

.caixatexto input:focus {
    border-color: #000000; 
    outline: none;
}

.Bordada {
    border: 2px solid #000000;
    padding: 20px; 
    width: 100%; 
    max-width: 400px;
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px) {
    .Bordada {
        width: 100%; 
        height: 36%;
        padding: 10px;
    }

    .resizeTextA {
        height: 10.5%;
    }

    .contentTitle {
        margin-top: 20%;
    }
}

@media (max-width: 768px) {
    .content-container {
        margin-left: 0%;
        width: 100%;
    }
}

.entrar {
    background-color: #ffffff;
    color: gray;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.2s;
    margin: 20px 0;
    width: 100px;
    margin-left: 26.5%;
}

.entrar:hover {
    background-color: gainsboro;
    color: #459EB5;
}

.entrar:focus {
    outline: none;
}

.error-message {
    color: red;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    margin-top: 10px; 
    text-align: center;
}

.poppins-regular {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
}

.space-grotesk {
    font-family: "Space Grotesk";
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
}

.outfitTitle {
    font-family: "Outfit";
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.outfitTexto {
    font-family: "Outfit";
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.contentTitle {
    font-family: "Outfit";
    font-size: 50px;
    font-style: normal;
    margin-bottom: 50px;
}

.Bordada2 {
    border: 2px solid #000000;
    height: 50%; 
    width: 300%;
    margin-left: 100%;  
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .Bordada2 {
        width: 100%; 
        height: 36%;
        padding: 10px;
    }

    .resizeTextA {
        height: 10.5%;
    }
}

@media (max-width: 768px) {
    .content-container {
        margin-left: 0;
        width: 100%;
    }
}

.cadastrotitle {
    margin-top: 2%;
    margin-left: 4%;
}

p {
    margin-left: 4%;
    margin-top: 4%;
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 2%; 
}

input {
    width: 30%; 
    height: 25px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-left: 4%; 
}
.option-label {
    display: flex;
    align-items: flex-start; 
    margin-right: 15px;
    cursor: pointer;
}

.option-label input {
    margin-left: 8px; 
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 80%;
    position: relative;
    animation: fadeIn 0.3s ease;
    text-align: center; 
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
  }
  
  .modal-close:hover {
    color: #f44336; 
  }
  
  .modal-search {
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 15px; 
    display: block; 
    width: 100%; 
  }
  
  .modal-search:hover {
    background-color: #0056b3; 
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  