.menu-container {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

.menu-bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: #459EB5;
    border-right: 2px solid #ccc;
    padding: 20px;
    transition: all 0.3s ease;
}

.close-menu {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;
    transition: color 0.3s ease;
}

.close-menu:hover {
    color: #ccc;
}


@media (max-width: 768px) {
    .menu {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 70%;
        width: 175px;
        background-color: #459EB5;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .menu.active {
        display: block;
        transform: translateX(0);
    }

    .menu-toggle {
        background-color: #459EB5;
        border-radius: 10px;
        display: flex;
    }
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c9302c;
}
.h1{
    color: #c9302c;
}