html{
    height: 100%; 
    margin: 0; 
    overflow: hidden; /* Remove a rolagem */
    border: 15px solid white;
    box-sizing: border-box;
}

body {
    background-color:#459EB5 ;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container {
    height: 100%; /* A altura da sua div pode ser ajustada conforme necessário */
    display: flex; /* Para centralizar o conteúdo, se desejado */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.caixatexto {
    margin-bottom: 15px; 
}

.caixatexto input {
    width: 220px; /* Largura da caixa de texto */
    height: 30px; /* Altura fixa para evitar que aumente com a fonte */
    padding: 5px; /* Ajuste o padding conforme necessário */
    border: 2px solid #ccc; 
    border-radius: 10px; 
    font-size: 13.5px; /* Aumenta o tamanho da letra dentro do input */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
}

.caixatexto input:focus {
    border-color: #000000; 
    outline: none; 
}
.entrar {
    background-color: #ffffff; /* Cor de fundo do botão */
    color: gray; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno (vertical e horizontal) */
    font-size: 12px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    transition: background-color 0.5s, transform 0.2s; /* Animações de transição */
    display: flex; /* Faz com que o botão seja tratado como um bloco */
    margin: 20px auto;
}

.entrar:hover {
    background-color: gainsboro; /* Cor de fundo ao passar o mouse */
    color: #459EB5;
    
}

.entrar:focus {
    outline: none; /* Remove o contorno padrão ao focar */
}
.error-message {
    color: red;
    position: absolute; /* Remove do fluxo normal do layout */
    left: 50%; /* Move para o meio da tela */
    transform: translateX(-50%); /* Ajusta a posição para realmente centralizar */
    margin-top: 10px; /* Adiciona um espaço acima, se necessário */
    text-align: center; /* Centraliza o texto */
}
.poppins-regular {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
  }
.space-grotesk {
    font-family: "Space Grotesk";
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
  }
