html {
    height: 100%; 
    margin: 0; 
    overflow: hidden;
}

body {
    margin: 0;
}

.login-body {
    background-color: #459EB5;
    border: 15px solid white; 
    height: 100vh; 
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.AutoCenter {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: absolute;
}

.form-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.caixatexto {
    margin-bottom: 15px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.caixatexto input {
    width: 220px;
    height: 30px;
    padding: 5px;
    border: 2px solid #ccc; 
    border-radius: 10px; 
    font-size: 13.5px; 
    box-sizing: border-box; 
}

.caixatexto input:focus {
    border-color: #000000; 
    outline: none; 
}

.Bordada {
    border: 2px solid #000000;
    padding: 20px; 
    width: 100%; 
    max-width: 400px; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px) {
    .Bordada {
        width: 100%; 
        height: 36%;
        padding: 10px; 
    }
    .resizeTextA {
        height: 10.5%;
    }
}

.entrar {
    background-color: #ffffff;
    color: gray;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.2s;
    margin: 20px 0;
    width: 100px; 
    align-self: center; 
}

.entrar:hover {
    background-color: gainsboro;
    color: #459EB5;
}

.entrar:focus {
    outline: none;
}

.error-message {
    color: red;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    margin-top: 10px; 
    text-align: center;
}

.poppins-regular {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
}

.space-grotesk {
    font-family: "Space Grotesk";
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
}

.outfitTitle {
    font-family: "Outfit";
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.outfitTexto {
    font-family: "Outfit";
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
